<div class="container">
    <br>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
        <h5 class="card-title">Welcome</h5>
        <p class="card-text">lets build some task.</p>
        <%= link_to "lets Go", tasks_path, class:"btn btn-primary" %>
        </div>
    </div>
    <br>
     <div class="card" style="width: 18rem;">
        <div class="card-body">
        <h5 class="card-title">Today Task!</h5>
        <p class="card-text"> </p>
        <%= link_to "Check", tasks_path, class:"btn btn-primary" %>
        </div>
    </div>
     <br>
     <div class="card" style="width: 18rem;">
        <div class="card-body">
        <h5 class="card-title">Create Task</h5>
        <p class="card-text"> </p>
        <%= link_to "Create", tasks_path, class:"btn btn-primary" %>
        </div>
    </div>
</div>

