

<button type="button" class="btn btn-primary ">Create</button>

<table class="table mt-5">
  <thead>
    <tr>
     
      <th scope="col">Task</th>
      <th scope="col">Desc</th>
      <th scope="col">Due Date</th>
      <th scope="col">Action</th>

    </tr>
  </thead>
  <tbody>
  <% @tasks.each do |task| %>
    <tr>
     
      <td> <%= task.name %> </td>
      <td> <%= task.desc %> </td>
      <td> <%= task.due_date %></td>
    </tr>
  <% end %>
  
  </tbody>
</table>
