
<% if @tasks %>
<button type="button" class="btn btn-primary ">Create</button>
<table class="table mt-5">
  <thead>
    <tr>
     
      <th scope="col">Task</th>
      <th scope="col">Desc</th>
      <th scope="col">Due Date</th>
      <th scope="col">Action</th>

    </tr>
  </thead>
  <tbody>
  <% @tasks.each do |task| %>
    <tr>
     
      <td> <%= task.name %> </td>
      <td> <%= task.desc %> </td>
      <td> <%= task.due_date %></td>
    </tr>
  <% end %>
  
  </tbody>
</table>
<% else %>
       <div class="card mt-3" style="width: 18rem;">
        <div class="card-body">
        <h5 class="card-title">Create Task</h5>
        <p class="card-text"> </p>
        <%= link_to "Create", tasks_path, class:"btn btn-primary" %>
        </div>
       </div>
<% end %>
